/* 问题页 */

/*===========================================*/
/*================== 宽屏适配 ==================*/
/*===========================================*/

.zm-meta-panel {
	padding: 7px 0 13px 0;
}

@media (max-width: 1400px) and (min-width: 968px) {
	.zm-meta-panel {
		padding: 3px 0!important;
	}
}

/**
 *
 * 通用
 *
* -------------------------------------------------------------- */

/**
 * Header
* -------------------------------------------------------------- */
header {
	&.Sticky.AppHeader {
		background: #137ad5;
	}

	.AppHeader-inner {
		height: 40px;

		.AppHeader-userInfo {
			top: 20px;
		}
	}
}