
// Author: Yifeng Huang
/* 问题页 */
/*===========================================*/
/*================== 宽屏适配 ==================*/
/*===========================================*/

.zm-meta-panel {
	padding: 7px 0 13px 0;
}

@media (max-width: 1400px) and (min-width: 968px) {
	.zm-meta-panel {
		padding: 3px 0!important;
	}
}

/**
 *
 * 通用
 *
* -------------------------------------------------------------- */
body {
	background: #fff;
}

// card style
.Card {
	// border: 1px solid #eee;
	border: none;
	border-radius: 0;
	box-shadow: none;
}

.List-item {
	padding: 5px 10px;
	border: none;
}

.ContentItem-content {
	font-size: 13px;
}

/**
 * Header
* -------------------------------------------------------------- */
header {
	&.Sticky.AppHeader {
		background: #137ad5;
	}

	.AppHeader-inner {
		height: 40px;

		// Logo
		.Icon.Icon--logo {
			fill: #fff !important;
		}

		// Nav
		.AppHeader-nav {
			.AppHeader-navItem {
				color: #fff;
			}
		}

		// User
		.AppHeader-userInfo {
			top: 20px;

			.Icon.Icon--message,
			.Icon.Icon--news {
				fill: #fff;
			}
		}
	}
}

.PageHeader.is-shown {
	.QuestionHeader-title {
		color: #fff;
	}

	.Button {
		color: #fff;
	}
	.Icon.Button-icon.Icon--modify {
		fill: #fff;
	}
}

/**
 * Main App
* -------------------------------------------------------------- */
.App-main {
	.QuestionHeader-title {
		font-size: 18px !important;
		font-weight: bold;
	}

	.QuestionHeader {
		box-shadow: none;
		border-bottom: none;
		padding: 10px 0 0;

		.QuestionHeader-content {
			// Question header
			.QuestionHeader-main {

			}
			.QuestionHeader-side {

			}
		}

		.QuestionHeader-footer {
			// padding-bottom: 12px;
		}
	}

	// main question
	.Question-main {
		.Question-mainColumn {
			.QuestionInvitation {
				[data-za-module="UserList"] {
					.List-item {
						padding: 0;
					}
					.UserItem-name {
						font-size: 10px !important;
					}
					.ContentItem-meta {
						font-size: 10px !important;
					}
					.PortraitItem-actions button {
						line-height: 24px;
						padding: 0 8px;
						font-size: 10px !important;
					}
					.PortraitItem {
						font-size: 10px !important;
					}
					.UserItem-avatar {
						.Avatar.Avatar--large.UserLink-avatar {
							transform: scale(0.5)
						}
					}
				}
				.Card-header {
					height: 36px;

					.Card-headerText {
						font-size: 10px !important;
					}
					.Card-headerOptions input {
						font-size: 10px !important;
					}
				}
				.Button.QuestionMainAction {
					height: 35px;
					font-size: 10px !important;
				}
				.QuestionInvitation-content {
					min-height: auto;
				}
			}

			.AnswerItem-meta.AnswerItem-meta--related {
				border-bottom: 1px solid #ccc;
			}

			.ContentItem-actions:not(.is-fixed) {
				border-bottom: 1px solid #ccc;
				margin-bottom: 40px;
			}

			.List-item:not(:last-child):after {
				border-bottom:none;
			}
		}
		.Question-sideColumn {
			opacity: 0.5;
			&:hover {
				opacity: 1;
			}
			.Card.Banner {
				opacity: 0.1;
				&:hover {
					opacity: 1;
				}
			}
			.Card.AnswerAuthor {

			}
		}
	}
}